<div id="catogory-container">
    <div id="left">
        <div id="content">
            <div >
                <img src="/assets/images/adidaslogo.png"/>
            </div>
            <div style="scale: 2; transform: translateY(10%);">
                <img src="/assets/images/nikelogo.png"/>
            </div>
            <div>
                <img src="/assets/images/jordanslogo.png"/>
            </div>
            <div>
                <img src="/assets/images/filalogo.png"/>
            </div>
        </div>
        <div id="image-container">
            <div id="image-containerimg">
            <img src="/assets/images/airforce.jpg"/>
            </div>
            <div id="backshadow"></div>
        </div>
    </div>
    <div id="right">
        <div id="image-container" style="scale: 0.8;position: absolute;left: 10px;top: 5px;">
            <div id="image-containerimg">
            <img src="/assets/images/adidas.jpg" style="height: 100%;width: auto;transform: translateX(-10%);"/>
            </div>
            <div id="backshadow"></div>
        </div>
        <div id="image-container" style="scale: 0.8;position: absolute;left:50%;top: 50px;">
            <div id="image-containerimg">
            <img src="/assets/images/Nike.jpg" style="height: 100%;width: auto;"/>
            </div>
            <div id="backshadow"></div>
        </div>
        <div id="image-container" style="scale: 0.8;position: absolute;left:20%;top: 150px;">
            <div id="image-containerimg">
            <img src="/assets/images/puma.jpg" style="height: 100%;width: auto;"/>
            </div>
            <div id="backshadow" style="transform: translateX(-40px);opacity: .8;"></div>
        </div>
    </div>
</div>