<div id="footer" class="w-auto d-flex align-items-center" style="flex-wrap: wrap;gap: 10vw;flex-shrink: 0;">
    <div id="subscribe" class="d-flex flex-column" style="gap: 5px;flex-basis: 400px;">
        <h2>MY WEBSITE</h2>
        <div style="margin: 0;padding: 0;">
            <h6><b>Login to website</b></h6>
            <label>Buy products forlow price and good quality.</label>
        </div>
        <button>Subscribe</button>
    </div>
    <div id="links" class="d-flex justify-content-between my-3" style="flex-grow:5;flex-wrap: wrap;">
        <div id="part" class="d-flex flex-column mt-4" style="gap: 5px;">
            <a href="#">Products</a>
            <a href="#">Features</a>
            <a href="#">Security</a>
            <a href="#">Team</a>
            <a href="#">Enterprise</a>
            <a href="#">Customer stories</a>
            <a href="#">The ReadME Project</a>
            <a href="#">Pricing</a>
            <a href="#">Resources</a>
            <a href="#">Roadmap</a>
        </div>
        <div id="part" class="d-flex flex-column mt-4" style="gap: 5px;">
            <a href="#">Platform</a>
            <a href="#">Developer Website</a>
            <a href="#">Partners</a>
            <a href="#">Electron</a>
        </div>
        <div id="part" class="d-flex flex-column mt-4" style="gap: 5px;">
            <a href="#">Support</a>
            <a href="#">Docs</a>
            <a href="#">Community Form</a>
            <a href="#">Professtional Services</a>
            <a href="#">Premium Support</a>
            <a href="#">Skills</a>
            <a href="#">Status</a>

        </div>
        <div id="part" class="d-flex flex-column mt-4" style="gap: 5px;">
            <a href="#">Company</a>
            <a href="#">About</a>
            <a href="#">Blog</a>
            <a href="#">Careers</a>
            <a href="#">Press</a>
            <a href="#">Inclusion</a>
            <a href="#">Social Impact</a>
            <a href="#">Shop</a>
        </div>
    </div>
    <div id="bgbelow"></div>
    <svg id="bg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,224L48,213.3C96,203,192,181,288,165.3C384,149,480,139,576,149.3C672,160,768,192,864,197.3C960,203,1056,181,1152,170.7C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
</div>