<div id="main-container">
    <div id="image-holder">
        <img [src]="image" alt="no image"/>
    </div>
    <div id="content">
        <label id="name">{{name}}</label>
        <div class="d-flex align-items-center" style="gap: 10px;">
            <label id="dis">2999Rs</label>
            <label id="stricked"><s>6999Rs</s></label>
        </div>
        <div class="d-flex" style="gap: 10px;">
            <div>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <label id="stock">in stock</label>
        </div>
        <div style="width: 100%;display: flex;align-items: center;justify-content: center;">
            <div id="add" [style.width]="width" [style.background-color]="bgcolor">
                <label [style.visibility]="vis" [style.color]="txtcolor">{{txt}}</label>
                <button (click)="animate()" [style.visibility]="vis"><i style="transition: all 0.3s;" [style.rotate]="rot" class="fa-solid fa-plus"></i></button>
                <button id="anibtn" (click)="animate()" style="transform: translateX(0%);overflow: hidden;" [style.visibility]="visibility">
                    <i id="i" style="color: white;" class="fa-solid fa-check fa-bounce"></i>
                    <div id="bg" ></div>
                </button>
            </div>
            <!-- <div id="add">
                <label>Add</label> -->
            <!-- </div> -->
        </div>
    </div>
</div>